@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
  background-image: radial-gradient(#333 30%, #000 95%);
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Poiret one";
  letter-spacing: 2px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr;
  height: 120vh;
  justify-items: center;
  text-align: center;
}

.main-container h3 {
  font-size: 1.5rem;
}

form {
  font-size: 2rem;
  text-align: center;
}

select {
  font-size: 18px;
  margin-bottom: 15px;
}

button {
  height: 60px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition: .5s;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  color:#fff;
  background-color: #740001;
  border: 1px solid #000;
}

img {
  border-radius: 50%;
  border: 4px solid #fff;
}

.main-container div div {
  text-align: center;
}